<form [formGroup]="formGroup" class="p-4 max-w-md mx-auto">
  <!-- Input para coduni -->
  <div class="mb-4">
    <label for="coduni" class="block text-gray-700 text-sm font-bold mb-2">
      Código
    </label>
    <p-input type="text" pInputText formControlName="codtip"
           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
  </div>

  <!-- Input para desuni -->
  <div class="mb-6">
    <label for="desuni" class="block text-gray-700 text-sm font-bold mb-2">
      Descripción
    </label>
    <p-input type="text" pInputText formControlName="destip"
           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"/>
  </div>

  <!-- Botones -->
  <div class="flex items-center justify-between">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
      Guardar
    </button>
    <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
      Actualizar
    </button>
  </div>
</form>
